:global {
  .users-container {
    flex: 1;
    display: flex;
    align-items: stretch;
  }

  .list {
    flex: 0 0 300px;
    height: 100vh;

    .user {
      padding: 15px;
      cursor: pointer;
    }

    ul {
      overflow: scroll;
      height: calc(100vh - 80px);

      li {
        background-color: #ffcccc;

        &.selected {
          background-color: #ff8080;
        }
      }

      li:hover {
        background-color: #ff4d4d;
        background-image: url("../../assets/angularjs-logo.png");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 40px;
      }
    }
  }

  .details {
    flex: 1;
  }
}
