<div class="users-container" ng-controller="UsersCtrl">
    <div class="list">
        <ul>
            <li class="user"
                ng-repeat="user in users"
                ng-click="selectUser(user)"
                ng-class="{selected: isUserSelected(user)}"
            >
                {{user.name + ' ' + user.surname}}
            </li>
        </ul>
    </div>
    <div class="details">
        <div ng-if="!selectedUser">
            nie ma
        </div>
        <div ng-if="selectedUser">
            jest
        </div>
    </div>
</div>
