html, body {
  height: 100%;
  font-family: "Roboto", serif;
}

:global {
  .app-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .app-menu {
    flex: 0 0 80px;
    background-color: #FF6A6A;
    background-image: url("../assets/angularjs-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
  }

  .app-menu-button {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("../assets/hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
  }

  .app-users {
    flex: 1;
    display: flex;
  }

  .container {
    flex: 1;
    display: flex;
  }
}

